@charset "UTF-8";
/* CSS Document */
body{
  margin:0px;
  padding:0px;
  font-family:Poppins;
    }

header{
  background-color: #161616;
  height: 480px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

*{
  box-sizing:border-box;
}

ul{
  list-style-type:none;
}

a{
  text-decoration:none;

}

#main{
  width: 100%;
  height: 100%;
  position: relative;
}

nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
  box-shadow:5px 10px rgba(0, 0, 0, 0.02);
  left:0;
  top:0;
  width:100%;
  z-index:1;

}

.logo img{
  height: 45px;
}

nav ul{
  display: flex;
}

nav ul li a{
  height: 40px;
  line-height: :43px;
  margin: 3px;
  padding: 10px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color:#C11B17;
  letter-spacing: : 1px;
}

nav ul li a:hover{
  background-color:#C11B17;
  color: #161616;
}

.college{
  color:#C11B17;
  font-weight: 500;
  font-size: 0.9rem;
  border-bottom: 2px solid #C11B17;
}

a.college:hover{
  background: #C11B17;
  color: #161616;
}

.content{
  width:90%;
  justify-content: space-around;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.main-text{
  width: 500px;
}

.main-text h1{
  font-size: 6rem;
  color: #FFFFFF;
  margin: 0px 0px 5px 0px;
  line-height: 60px;
}

.main-text h1 span{
  color:#C11B17;
}

.main-text h3{
  font-size: 1.5rem;
  color: #FFFFFF;
}

main h1{
  font-size: 6rem;
  color: #161616;
  margin: 6rem 0px 3rem 0px;
  line-height: 60px;
  text-align: center;
}

main h1 span{
  color:#C11B17;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 4rem;
}

.grid-item {
  background-color:	#D3D3D3;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item h3 span{
  color:#C11B17;
}

footer{
  background-color: #161616;
  text-align: center;
  padding: 1rem 0 1rem 0;
}

footer #copyright{
  color: #747474;
}
